ul{
    background-color: beige;
    color: rebeccapurple;
    border-color: black;
    list-style-type: none;
   
    margin-left: 30%;
    float: left;
}
li{
    padding: 10px;
    float: right;

}
LI :hover{
    background-color:darkgrey;
    color: black;
}